/* ---- GLOBAL styles: ----*/
:root {
    --color-accent-primary: #5d001e;
    --color-accent-secondary: #9a1750;
    --color-background-primary: #e3e2df;
    --color-background-secondary: #e3afbc;
    --color-font: #222;
}

body {
    background-color: var(--color-background-primary);
    font-family: 'Cuprum', sans-serif;
    color: var(--color-font);
}

h2 {
    color: var(--color-accent-secondary);
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    padding-top: 1rem;
}

.section {
    padding: 5rem 0 2rem;
    text-align: center;
}
@media (min-width: 550px) {
    .section {
        padding: 5rem 0 2rem;
    }
}
@media (min-width: 1000px) {
    .section {
        padding: 3rem 0 3rem;
    }
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.accent {
    color: var(--color-accent-secondary);
}
.nowrap {
    white-space: nowrap;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: var(--color-accent-secondary);
    border-color: var(--color-accent-secondary); }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: var(--color-accent-primary);
    border-color: var(--color-accent-primary); }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: 1.5rem;
    border-radius: 1rem;
}

/* ---- Custom styles: ----*/

.mb-15 {
    margin-bottom: 3rem;
}

.introduction-photo {
    position: relative;
}

.introduction {
    padding: 7rem 0 2rem;
}
.introduction-photo > img {
    max-width: 90%;
    position: relative;
    margin: -1rem auto 1rem;
}

@media (min-width: 550px) {
    .introduction {
        padding: 9rem 0 7rem;
    }
    .introduction-photo > img {
        max-height: 48rem;
        position: absolute;
        top: -6rem;
        right: 2rem;
    }
}
/* @media (min-width: 750px) {
 }
*/
@media (min-width: 1000px) {
    .introduction {
        padding: 15rem 0;
    }
    .introduction-photo > img {
        max-height: 48rem;
        position: absolute;
        top: -13rem;
        right: 5rem;
    }
}

.places {
    background-color: var(--color-background-secondary);
    background-size: cover;
    color: #ffffff;
}
.places-title {
    color: var(--color-accent-primary);
    text-transform: uppercase;
    margin-bottom: 0;
}
.places-subtitle {
    margin-bottom: 1rem;
}